<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./styles/style.css"/>
</head>
<body>
    <header>
        <nav>
            <ul>
    <li><a href="./about.html">About</a></li>
    <li><a href="./home.html">Home</a></li>
    <li><a href="./work.html">Work</a></li>
            </ul>
    </nav>
</header>
<main>
    <div>
        <h1>The good old story of Michael Jackson</h1>
        <img src="./images/michael.jpeg" alt="">
        <p>He set and broke records, challenged racial boundaries and revolutionized the music industry. Michael Jackson's music and groundbreaking creativity changed the very infrastructure of the way music is produced and promoted. Michael Jackson has gone down in history as a legend, and he may always be the King of Pop</p>
    </div>
</main>
</body>
</html>